<nav class="bg-black text-gray-400 py-4">
  <div class="container mx-auto">
    <div class="flex justify-between items-center">
      <div>
        <img height="80%" width="80%" src="../assets/images/walletCodesLogo.svg" alt="brand">
      </div>
      <div class="md:flex hidden flex">
        <span
          class="ml-12 text-base uppercase font-medium tracking-wide cursor-pointer hover:text-red-700">Products</span>
        <span class="ml-12 text-base uppercase font-medium tracking-wide cursor-pointer hover:text-red-700">Blogs</span>
        <span
          class="ml-12 text-base uppercase font-medium tracking-wide cursor-pointer hover:text-red-700">Register</span>
        <span class="ml-12 text-base uppercase font-medium tracking-wide cursor-pointer hover:text-red-700">Login</span>
      </div>
    </div>
  </div>
</nav>
