<div class="container mx-auto">
  <section>
    <img src="assets/images/banner.jpg" alt="">
  </section>

  <section class="mt-4 px-2 md:px-0">
    <div class="uppercase text-center text-2xl md:text-4xl font-extrabold tracking-wider">
      One-stop shop for all your gift card needs
    </div>
    <div class="text-gray-500 text-center text-base md:text-xl mt-2">
      Virtual supermarket for you to buy Apple and Google Play Gift Card by Paypal at the cheapest price.
    </div>
  </section>

  <section class="mt-16">
    <div class="text-2xl text-center tracking-wide font-bold uppercase">Category</div>
    <div class="mt-4 sm:grid grid-cols-3 gap-4">
      <div class="mt-2 sm:mt-0">
        <img class="h-full w-full object-scale-down transform duration-75 ease-in md:hover:scale-95"
          src="assets/images/steam_banner.jpg" alt="">
      </div>
      <div class="mt-2 sm:mt-0">
        <img class="h-full w-full object-scale-down transform duration-75 ease-in md:hover:scale-95"
          src="assets/images/pubg_banner.jpg" alt="PUBG">
      </div>
      <div class="mt-2 sm:mt-0">
        <img class="h-full w-full object-scale-down transform duration-75 ease-in md:hover:scale-95"
          src="assets/images/ml_banner.jpg" alt="Mobile Legends">
      </div>
    </div>
  </section>

  <section class="mt-16">
    <div class="text-2xl text-center tracking-wide font-bold uppercase">Top Selling</div>
    <div class="mt-4 sm:grid grid-cols-3 gap-4">
      <div>
        <item-card source="assets/images/top_selling_steam.png"></item-card>
      </div>
      <div>
        <item-card source="assets/images/top_selling_steam.png"></item-card>
      </div>
      <div>
        <item-card source="assets/images/top_selling_steam.png"></item-card>
      </div>
      <div>
        <item-card source="assets/images/top_selling_steam.png"></item-card>
      </div>
      <div>
        <item-card source="assets/images/top_selling_steam.png"></item-card>
      </div>
      <div>
        <item-card source="assets/images/top_selling_steam.png"></item-card>
      </div>

    </div>
  </section>

  <section class="mt-16">
    <div class="text-2xl text-center tracking-wide font-bold uppercase">Why Wallet Codes?</div>
    <div class="sm:flex justify-around mt-8">
      <div class="flex flex-col items-center mt-8 sm:mt-0">
        <img class="h-20 w-20" src="assets/images/instant-delivery.svg" alt="Instant delivery">
        <div class="text-xl font-medium mt-2">Instant delivery</div>
      </div>
      <div class="flex flex-col items-center mt-8 sm:mt-0">
        <img class="h-20 w-20" src="assets/images/customer-service.svg" alt="No expiration date">
        <div class="text-xl font-medium mt-2">No expiration date</div>
      </div>
      <div class="flex flex-col items-center mt-8 sm:mt-0">
        <img class="h-20 w-20" src="assets/images/secure-purchasing.svg" alt="Secure purchasing">
        <div class="text-xl font-medium mt-2">Secure purchasing</div>
      </div>
      <div class="flex flex-col items-center mt-8 sm:mt-0">
        <img class="h-20 w-20" src="assets/images/flex-pay-method.svg" alt="Flexible payment methods">
        <div class="text-xl font-medium mt-2">Flexible payment methods</div>
      </div>
    </div>
  </section>

  <section class="mt-16">
    <div class="text-2xl text-center tracking-wide font-bold uppercase">FLEXIBLE PAYMENT METHODS</div>
    <div class="flex justify-center">
      <div>
        <img class="h-32 w-32" src="assets/images/fpx.svg" alt="FPX">
      </div>
      <div>
        <img class="h-32 w-32" src="assets/images/visa_mastercard.svg" alt="Visa and Mastercard">
      </div>
      <div>
        <img class="h-32 w-32" src="assets/images/ppoints.svg" alt="P Points">
      </div>
    </div>
  </section>

  <section class="mg-16">
    <div class="text-2xl text-center tracking-wide font-bold uppercase">P POINTS</div>
    <div class="flex items-center justify-center">
      <div>
        <img class="h-32 w-32" src="assets/images/ppoints.svg" alt="P Points">
      </div>
      <div>
        <p>DO YOU KNOW that P Points can be used to purchase any product available on wallet-codes.com?</p>
        <a href="#">Want to learn more about P Points?</a>
      </div>
    </div>

  </section>

</div>

<section class="bg-gray-100 py-8 px-2 sm:px-0">
  <div class="container mx-auto">
    <div class="text-center">
      <div class="text-2xl text-center tracking-wide font-bold uppercase">KNOW IT ALL FIRST!</div>
      <div class="text-sm text-gray-700">Never Miss Anything From Wallet Codes By Signing Up To Our Newsletter.</div>
    </div>
    <div class="flex mt-8 justify-center">

      <div class="w-full sm:w-1/2">
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          type="text" placeholder="Enter your email">
      </div>

      <button class="ml-2 bg-red-700 hover:bg-red-800 text-red-100 font-bold py-2 px-4 rounded">Subscribe</button>
    </div>

    <hr class="mt-8">
  </div>
  <div class="container mx-auto grid grid-cols-5 gap-3 mt-16">
    <div class="text-lg uppercase font-bold tracking-wide">
      <img class="h-64 w-64" src="assets/images/walletCodesLogo.svg" alt="Wallet Codes">
    </div>
    <div class="flex-col items-center justify-center">
      <div class="text-center text-lg uppercase font-medium tracking-wide">AWARDS</div>
      <div class="flex justify-center mt-16">
        <img class="w-24 h-24 object-contain" src="assets/images/APSA.svg" alt="Asia Pacific Stevie Awards">
        <img class="w-24 h-24 object-contain" src="assets/images/ACA.svg" alt="ACA 2018">
      </div>
    </div>
    <div class="text-lg uppercase font-medium tracking-wide">QUICK LINKS</div>
    <div class="text-lg uppercase font-medium tracking-wide">SUPPORT</div>
    <div class="text-lg uppercase font-medium tracking-wide">
      <img class="h-64 w-64" src="assets/images/google_safe_browsing.svg" alt="P Points">
    </div>
  </div>
</section>

<footer class="flex justify-center h-24 items-center">
  <span class="text-gray-700 text-sm">Copyright &#169;2020 Wallet Codes. All Rights Reserved.</span>
</footer>
