<div class="container mx-auto">
  <section>
    <img src="assets/images/banner.jpg" alt="">
  </section>

  <section class="mt-4 px-2 md:px-0">
    <div class="uppercase text-center text-2xl md:text-4xl font-extrabold tracking-wider">
      One-stop shop for all your gift card needs
    </div>
    <div class="text-gray-500 text-center text-base md:text-xl mt-2">
      Virtual supermarket for you to buy Apple and Google Play Gift Card by Paypal at the cheapest price.
    </div>
  </section>

  <section class="mt-16">
    <div class="text-2xl text-center tracking-wide font-bold uppercase">Category</div>
    <div class="mt-4 sm:grid grid-cols-3 gap-4">
      <div class="mt-2 sm:mt-0">
        <img class="h-full w-full object-scale-down transform duration-75 ease-in md:hover:scale-95"
          src="assets/images/steam_banner.jpg" alt="">
      </div>
      <div class="mt-2 sm:mt-0">
        <img class="h-full w-full object-scale-down transform duration-75 ease-in md:hover:scale-95"
          src="assets/images/pubg_banner.jpg" alt="PUBG">
      </div>
      <div class="mt-2 sm:mt-0">
        <img class="h-full w-full object-scale-down transform duration-75 ease-in md:hover:scale-95"
          src="assets/images/ml_banner.jpg" alt="Mobile Legends">
      </div>
    </div>
  </section>

  <section class="mt-16">
    <div class="text-2xl text-center tracking-wide font-bold uppercase">Top Selling</div>
    <div class="mt-4 grid grid-cols-3 gap-4">
      <div>
        <item-card source="assets/images/top_selling_steam.png"></item-card>
      </div>
      <div>
        <item-card source="assets/images/top_selling_steam.png"></item-card>
      </div>
      <div>
        <item-card source="assets/images/top_selling_steam.png"></item-card>
      </div>
      <div>
        <item-card source="assets/images/top_selling_steam.png"></item-card>
      </div>
      <div>
        <item-card source="assets/images/top_selling_steam.png"></item-card>
      </div>
      <div>
        <item-card source="assets/images/top_selling_steam.png"></item-card>
      </div>

    </div>
  </section>

  <section>

  </section>
</div>
